extends layouts/main

block variables
	- var title = 'New story'

block content

	include ./modules/preloader.pug
	include ./modules/navigation.pug
	include ./modules/header.pug
	include ./modules/specialization.pug
	include ./modules/banner-first.pug
	include ./modules/about.pug
	include ./modules/banner-second.pug
	include ./modules/portfolio.pug
	include ./modules/banner-third.pug
	include ./modules/contacts.pug
	include ./modules/footer.pug
	include ./modules/arrow-top.pug