// Contacts
section.section.section--pb-0.contacts#contacts
  .container
    .contacts__heading-row
      .contacts__heading-wrap
        h2.section__heading Contacts
    .contacts__row
      .contacts__col
        h6.contacts__title Phone
        p.contacts__text 8 000 369 2568
      .contacts__col
        h6.contacts__title MAIL
        p.contacts__text hallo@newstory.com
      .contacts__col
        h6.contacts__title ADDRESS
        p.contacts__text hallo@newstory.com