// Footer
footer.section.section--pb-0.footer
  .container
    .row
      .footer__info
        span.footer__copy © NEWSTORY. 2020
        ul.footer__soc
          li.footer__soc-item
            a(href="http://example.com").footer__soc-link Facebook
          li.footer__soc-item
            a(href="http://example.com").footer__soc-link Twitter
          li.footer__soc-item
            a(href="http://example.com").footer__soc-link Instagram
          li.footer__soc-item
            a(href="http://example.com").footer__soc-link Behance