// Header
header.header
	.container
		.row
			h1.header__title.animated-text(data-scroll-animation="blurIn") A NEW STAGE IN YOUR HISTORY PLUNGE INTO THE OCEAN OF POSSIBILITIES ENJOY
			.header__image.animated-image(data-scroll-animation="revealIn")
				img(src="./images/header-img.jpg", class="image" alt="header-img")